*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
}

.display-area{
    width: 70vw;
    color: white;
    display: grid;
    grid-template-columns: 15vw 55vw;
    grid-template-rows: 25vh fr 15vh;
    background: darkblue;
    overflow: hidden;
}



/* Nav-bar */

.nav-area{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 84vh;
}

.nav-bar{
    width: 80%;
    transition: all 0.5s;
    position: relative;
    overflow-x: hidden;

}

.nav-bar p{
    margin: 0;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid 2px;
    height: 12vh;
    background-color: red;
}

.nav-bar p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: gray;
    background-color: rgb(255, 255, 255);
}

.visible {
    width: 80%;
    margin-left: 80%;
    left: -80%;
}

.hidden {
    width: 0;
    margin-left: 0;
    left: -80%;
}

/* nav-toggler */
.nav-toggler {
    grid-column-start: 1;
    grid-column-end: 2;
    float:right;
    background-color: red;
    width: 20%;
    height:84vh;
    font-size: 24px;
    text-align: center;
    padding: 25% 0;
    border: solid 2px white;
    border-top: none;
}


/* Title */
.title{
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: solid white;
}
.title h1{
    display: inline;
    position: relative;
    bottom: 4vw;
}
.waltonLogo{
    margin: 2vh 1vw 2vh 3vw;
    width: 8vw;
}

/* Pages */
.pages {
    display: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 1vh 2vw 1vh 2vw;
}

.pages h1{
    text-align: center;
}

.pages video{
    float: right;
}

.department-images {
    height: 200px;
    width: 200px;
    margin-right: 1vw;
}

.instructor-info{
    display: flex;
    align-items: center;
}
/* Footer */
.footer {
    text-align: center;
    padding: 1vh 1vw;
    background-color: black;
    color: white;
    width: 100%;
    padding: 1%;
}


/* Toggling Feature */
.toggler{
    font-size: 24px;
}

.toggler .toggled {
    display: none;
    font-size: 16px;
    width: 100%;
}

.toggler p{
    width:max-content;
}
.toggler p:not(.toggled):hover{
    background: rgba(173, 230, 187, 0.295);
}

unicode{
    font-size: 12px;
}



